APP_ENV=production
APP_MINTERORG_URL=https://my.minter.network
APP_MINTER_URL=https://testnet.explorer.minter.network
APP_EXPLORER_URL=https://explorer.minter.network
APP_EXPLORER_API_URL=https://explorer-api.testnet.minter.network
