@import "variables";


/* https://google-webfonts-helper.herokuapp.com/fonts/ubuntu?subsets=latin,cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
    url('../fonts/ubuntu-v11-cyrillic_latin-regular.woff2') format('woff2'),
    url('../fonts/ubuntu-v11-cyrillic_latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
    url('../fonts/ubuntu-v11-cyrillic_latin-700.woff2') format('woff2'),
    url('../fonts/ubuntu-v11-cyrillic_latin-700.woff') format('woff');
}


*, *::before, *::after {box-sizing: border-box;}
html { overflow-y: scroll; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-overflow-scrolling: touch;}
body {
    margin: 0;
    //position: relative; //в данной реализации модала не актуально // чтобы не разъезжался абсолютный контент при открытии модального
    font-family: @body-font-family;
    font-size: 14px;
    line-height: 1.428;
    color: @c-black;
    font-weight: 400;
    background: linear-gradient(to bottom, #2c2c2c 64px, transparent 64px) no-repeat, linear-gradient(to top, #3c3c3c 95.6px, transparent 95.6px) no-repeat, @body-bg-color;
}

a, .link {color: inherit; outline: none; text-decoration: none; text-decoration-skip-ink: auto; transition: 0.1s;}
a, .link {&:hover, &:focus {/*text-decoration: underline; */outline: none;}}
.no-link {text-decoration: none;}
.link--main {&, &:hover, &:focus {color: @c-main;}}
.link--opacity {
    text-decoration: none; transition: 0.1s;
    &:hover, &:focus {opacity: 0.65;}
}
.link--hover {
    //text-decoration: none;
    &:hover, &:focus {text-decoration: underline;}
}
.link--default {.link--main(); .link--hover(); font-weight: 700;}
button {cursor: pointer; outline: none;}
p, ul, ol {margin: 0;}
p + p {margin-top: 10px;}
sub, sup { font-size: 75%;}
.no-list {
    padding: 0; margin: 0;
    li {list-style: none;}
}

:-moz-focusring {outline: none;}
input, textarea, select {
    font: inherit; color: @c-black; outline: none; caret-color: @c-main;
    &::placeholder {color: #a4a4a4; opacity: 1;}
}
input {vertical-align: middle;}
textarea {resize: none;}

h1, h2, h3, h4, h5, h6 {margin: 0; font-family: @heading-font-family; font-weight: 700; line-height: 1.3;}
.h-title {font-size: 24px; text-transform: uppercase; margin-bottom: 12px;}


hr {border: none; border-top: 1px solid @c-border;}
.hr--margin-large {margin-top: 32px; margin-bottom: 32px;}

// table
@table-cell-padding: 10px;
@table-cell-vertical-padding-large: 15px;
@table-expand-button-size: (@table-cell-padding * 2 + 14px * 1.4);
@table-expand-button-size-large: (@table-cell-vertical-padding-large * 2 + 14px * 1.4);
.table-wrap {overflow: auto;}
.table__cell-overflow--middle {}
table {width: 100%; border-collapse: collapse;}
th {background: #f6f6f6;}
td, th {
    border: 1px solid @c-border; padding: 10px; text-align: left;
    &:first-child {border-left: none;}
    &:last-child {border-right: none;}
}
.table__inner {margin-top: -10px;}
.table__inner-item {margin-top: 10px; max-width: calc(100vw - @container-padding * 2 - 10px * 2); overflow-wrap: break-word;}
.table__cell-title {font-weight: 700;}
.table__cell-sub {font-size: 12px;}
.is-expanded > td {background: #f6f6f6;}
.table__row-expanded-data {
    td {background: #f6f6f6; border-left: none; border-right: none;}
}
.table__expand-cell {padding: 0; width: @table-expand-button-size;}
.table__expand-button {
    width: @table-expand-button-size; height: @table-expand-button-size; font-size: 0; position: relative; left: 0; top: 0;
    &::before, &::after {content: ''; width: 10px; height: 2px; position: absolute; top: 50%; margin-top: 3px; background: @c-black-light;}
    &::before {transform: rotate(45deg); right: 50%; transform-origin: 100% 100%;}
    &::after {transform: rotate(-45deg); left: 50%; transform-origin: 0 100%;}
    &.is-expanded::before {transform: rotate(-45deg); transform-origin: 100% 0; margin-top: -4px;}
    &.is-expanded::after {transform: rotate(45deg); transform-origin: 0 0; margin-top: -4px;}
}
.table__sort-button {display: flex; align-items: center; min-height: 24px;}
.table__sort-button-icon {margin-left: 8px; opacity: 0;}
.table__sort-button-icon--descending {transform: rotateX(180deg); opacity: 1;}
.table__sort-button-icon--ascending {opacity: 1;}
@media (min-width: @breakpoint-medium-up) {

}
@media (min-width: @breakpoint-large-up) {
    td, th {padding: @table-cell-vertical-padding-large 18px;}
    .table__inner {display: flex; flex-wrap: wrap; margin-left: -24px;}
    .table__inner-item {margin-left: 24px;}
    //.table__cell-overflow--middle {margin-left: -2px; margin-right: -2px;}
    .table__expand-cell {width: @table-expand-button-size-large;}
    .table__expand-button {width: @table-expand-button-size-large; height: @table-expand-button-size-large;}
}

// dl
dl {margin: 0;}
dt {
    font-weight: 700; margin-top: 15px;
    &:first-child {margin-top: 0;}
}
dd {overflow-wrap: break-word; margin: 0;}
.dl--table {padding: 20px;}
@media (min-width: @breakpoint-medium-up) {
    .dl--table {
        display: flex; flex-wrap: wrap; border: none; padding: 0;
        dt, dd {padding: 15px 20px; margin: 0; border-top: 1px solid @c-border;}
        dt {width: 140px; border-right: 1px solid @c-border; background: #f6f6f6;}
        dd {width: calc(100% - 140px);}
    }
}
@media (min-width: @breakpoint-large-up) {
    .dl--table {
        dt {width: 200px;}
        dd {width: calc(100% - 200px);}
    }
}







// button
.button {
    display: inline-flex; align-items: center; justify-content: center; padding: 10px 26px; font-size: 16px; line-height: 18px; font-weight: 700; font-family: @heading-font-family; color: @c-black; text-align: center; border: 2px solid transparent; text-decoration: none; transition: 0.1s; position: relative; overflow: hidden;
    &:hover, &:focus {box-shadow: 0 4px 8px rgba(0,0,0,0.1);}
    &:active {box-shadow: 0 2px 4px rgba(0,0,0,0.1);}
    &[disabled], &.is-disabled {
        cursor: default;
        &:not(.is-loading) {background: shade(#fff, 30%); box-shadow: none;}
    }
    &.is-loading .button__content {color: transparent;}
}
.button--main {
    color: #fff; background: @c-main;
    &:hover, &:focus {background: tint(@c-main, 10%);}
    &:active {background: shade(@c-main, 10%);}
}
.button--white {
    color: @c-main; background: #fff;
    &:active {background: shade(#fff, 10%);}
}
.button--ghost {
    color: @c-black; background: transparent; border-color: @c-black;
    &:hover, &:focus {color: #fff; background: @c-black;}
    &:active {color: #fff; background: shade(@c-black, 10%);}
}
.button--ghost-main {
    color: @c-main; background: transparent; border-color: @c-main;
    &:hover, &:focus {color: #fff; background: @c-main;}
    &:active {color: #fff; background: shade(@c-main, 10%);}
}
.button--ghost-white {
    color: #fff; background: transparent; border-color: #fff;
    &:hover, &:focus {color: @c-black; background: #fff;}
    &:active {color: @c-black; background: shade(#fff, 10%);}
}
.button--icon {padding-left: 0; padding-right: 0; width: 42px;}
.button--full {
    display: block; width: 100%;
    &+& {margin-top: 10px;}
}
.button--trezor {
    background: #02B757; padding-left: 48px; padding-right: 48px; position: relative;
    &:hover, &:focus {background: tint(#02B757, 10%);}
    &:active {background: shade(#02B757, 10%);}
}
.button--trezor__icon {position: absolute; left: 16px; top: 50%; transform: translateY(-50%);}
.button--trezor__logo {vertical-align: baseline;}
/*.button__content {transition: 0.1s;}*/
//.button--small {padding-left: 14px; padding-right: 14px;}
//@media (min-width: @breakpoint-medium-up) {
//    .button--small {padding-left: 26px; padding-right: 26px;}
//}

.button-group {
    display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; margin-top: -10px; margin-left: -20px;
    .button, .link--default {margin-top: 10px; margin-left: 20px;}
}


// button-loader
@loader-length: 12 * 3.14 * 2; // длина окружности
.loader {width: 28px; height: 28px; margin: auto; animation: loader-rotate 2s linear infinite;}
.loader__path { fill: none; stroke: currentColor; stroke-width: 2px; stroke-linecap: round; animation: loader-dash 1.5s ease-in-out infinite; }
.button__loader {
    position: absolute; left: 0; right: 0; top: 0; bottom: 0; pointer-events: none; display: none;
    .is-loading > & { display: block;}
}
/* @TODO intensive js calculations interrupts css transition */
/*.loader {
    opacity: 0; transition: 0.05s;
    .is-loading > & { opacity: 1; transition: 0.1s 0.1s;}
}*/
@keyframes loader-rotate {
    0% {transform: rotate(-90deg);}
    100% { transform: rotate(270deg); }
}
@keyframes loader-dash {
    0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
    50% { stroke-dasharray: @loader-length * 0.8, 200; stroke-dashoffset: 0; }
    100% { stroke-dasharray: @loader-length * 0.8, 200; stroke-dashoffset: -@loader-length + 1px; }
}





// input
@field-input-padding: 4px;
@field-label-height: 20px;
@field-label-scale: 0.75;
@field-label-top-line-height-compensation: 3px;
@field-padding: (@field-label-height * @field-label-scale - @field-label-top-line-height-compensation);
@field-label-top: (@field-padding + @field-input-padding);
@field-label-translate: (-1 * (@field-label-top + @field-label-top-line-height-compensation));
.form-row {&+& {margin-top: 20px;}}
.form-field {
    display: block; position: relative; cursor: pointer; font-weight: 400; padding-top: @field-padding; pointer-events: none;
    &.is-disabled {opacity: 0.6;}
}
.form-field__input {
    padding: @field-input-padding 0 4px; font-size: 16px; line-height: 22px; color: inherit; background: transparent; border: none; border-bottom: 1px solid #a1a3a4; transition: 0.15s; display: block; width: 100%; pointer-events: auto; border-radius: 0; opacity: 1; /* safari disabled fix */ -webkit-text-fill-color: currentcolor; /* safari disabled fix */
    &:focus {border-color: @c-main;}
    .is-error > & {border-color: @c-red;}
    .form-field--dashed > & {border-bottom-style: dashed;}
    .form-field--with-icon > & {padding-right: 26px;}
    .form-field--with-use-max > & {padding-right: 65px;}
}
.form-field__input--select {appearance: none; background: url(../img/icon-dropdown.svg) no-repeat 100% 50%; padding-right: 24px;}
.form-field__label {
    font-size: 16px; line-height: @field-label-height; color: @c-black-light; position: absolute; left: 0; top: @field-label-top; transition: 0.15s; transform-origin: 0 0; user-select: none; white-space: nowrap;
    .form-field__input:focus ~ &, .is-not-empty ~ & {transform: translateY(@field-label-translate) scale(@field-label-scale);}
    .form-field__input:focus ~ & {color: @c-main;}
    .form-field.is-error > & {color: @c-red;}
}
.form-field__use-max {position: absolute; right: 0; top: (4px + @field-padding); z-index: 1; cursor: pointer; pointer-events: auto; text-transform: uppercase; font-weight: 700;}
.form-field__icon {position: absolute; right: 0; top: (2px + @field-padding); z-index: 1; cursor: pointer; pointer-events: auto; font-size: 0;}
.form-field__icon--copy {top: calc((100% - 12px) / 2 - 2px);}
.form-field__icon--loader {width: 24px; height: 24px; right: 32px;}
.form-field__help {
    font-size: 12px; line-height: 16px; margin-top: 6px; display: block; color: @c-black-light;
    .form-field__error + & {margin-top: 0;}
    &.u-cell {margin-top: 0; line-height: 18px;}
}
.error-text() {font-size: 12px; color: @c-red; line-height: 16px;}
.form-field__error {.error-text(); margin-top: 6px; overflow-wrap: break-word; display: block;}
@media (min-width: @breakpoint-large-up) {
    .form-field--with-icon > .form-field__input {padding-right: 32px;}
}




